@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f2f7f6];
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  right: 10px;
  padding: 30px;
}

@layer components {
  .showSidemenu {
    @apply right-0 transition-all duration-[1s] z-10;
  }

  .hideSidemenu {
    @apply right-[-999px] transition-all duration-[3s];
  }
  .link {
    @apply cursor-pointer hover:scale-105 hover:text-red-600;
  }
  .inputs {
    @apply w-full outline-none px-3 py-2 rounded mb-2;
  }
  .authBtn {
    @apply py-2 w-full rounded hover:scale-105 uppercase font-semibold;
  }
  .line {
    @apply w-[140px] md:w-[160px] h-[1px] bg-gray-400;
  }
  .typeBtn {
    @apply w-[160px] md:w-[200px] shadow-lg hover:shadow-xl px-2 py-1 rounded uppercase;
  }
  .rect {
    @apply bg-green-500 w-4 h-4 rounded;
  }
}
